<div data-ng-controller="PlayerController" ng-init="findOne()">
	<h4>{{video.title}}</h4>
		<div ng-switch="video.external">
			<div ng-switch-when="">
				<video width="320" height="240" controls>
				  <source ng-src="{{video.location}}" type="{{video.fileType}}">
				Your browser does not support the video tag.
				</video>
			</div>
			<div ng-switch-when="youtube.com">
				<iframe class="youtube-player" type="text/html" width="640" height="385" ng-src="{{trustSrc(video.video_url)}}" allowfullscreen frameborder="0"></iframe>
			</div>
		</div>

	<p>{{video.description}}</p>
</div>