<div ng-controller="CourseStudentController">
	<div>
		<ul>
			<li ng-repeat="video in testvideos">
				<a ng-click="playVideo(video)" href="">{{video.name}}</a>
			</li>
			
		</ul>
	</div>
	<div ng-show="extvideo">
		<iframe class="youtube-player" type="text/html" width="400" height="385" ng-src="{{trustSrc(extvideo)}}" allowfullscreen frameborder="0"></iframe>
	</div>
</div>